body {
  background-color: #131313;
}

.wrapper {
  height: 100vh;
  /*text ko center karne keliye*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.typing-demo {
  width: 61ch;
  animation: typing 7s steps(61), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
